* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  max-width: 1700px;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
}
ul {
  margin-left: auto;
  display: flex;
}
li {
  list-style: none;
  margin: 0px 4rem;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  cursor: pointer;
}

.navigation h1 {
  color: white;
  font-size: 2rem;
  margin-right: auto;
  margin-left: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.portf {
  color: red;
}
.menu {
  height: 1.9rem;
  width: 1.49rem;
  padding: 0.1rem;
  cursor: pointer;
  display: none;
}
/* home */
#home {
  background: url(portfoliopic/5172658.jpg) center;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 39rem;
}
.intro {
  margin-top: 8%;
  margin-left: 7%;
  color: white;
}
.intro h1 {
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.intro h3 {
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro p {
  font-size: 1.2rem;
  margin-left: 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  text-decoration: none;
  color: white;
}
.contactbtn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btccontainer {
  display: flex;
  align-items: center;
}
.cvbtn {
  padding: 0.7rem 2rem;
  /* background: red; */
  margin-left: 2rem;
  outline: none;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  background: rgb(255, 255, 255, 0.13);
  border: 1px solid red;
  margin-top: 1rem;
  font-family: Tahoma, sans-serif;
  border-radius: 0.2rem;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}
.cvbtn:hover {
  background: rgb(255, 255, 255, 0.21);
}
.btn:hover {
  background: rgb(255, 0, 0, 0.8);
}
.btn {
  padding: 0.7rem 2rem;
  background: red;
  outline: none;
  border: none;
  border: 1px solid salmon;
  margin-top: 1rem;
  font-family: Tahoma, sans-serif;
  border-radius: 0.2rem;
  color: rgb(245, 222, 179, 0.87);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
/* skills */
#skills {
  background: wheat;
}
.skillcontainer h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.general {
  width: 20rem;
  height: fit-content;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background: salmon;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.general:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.general h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.skillimg {
  width: 4rem;
  height: 4rem;
  margin: auto;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.word {
  height: 6.9rem;
}
.word h3 {
  margin-top: 1.5rem;
}
/* projects */
.generalpj {
  width: 100%;
  height: 19rem;
}
.pj h4 {
  padding: 0rem 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.pj h4 a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: blue;
  text-decoration: underline;
}
.pj {
  width: 23rem;
  background: white;
  margin: 2rem;
  padding-bottom: 0.8rem;
  box-shadow: 0px 1px 24px rgb(0, 0, 0, 0.2);
}
.projctWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#projects {
  background: salmon;
  padding: 1rem;
}

img {
  width: 100% !important;
  height: 100%;
}
#projects h1 {
  text-align: center;
  margin-bottom: 0rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* contact */
#contact h1 {
  margin-bottom: 2.8rem;
  padding-top: 1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.whatsappimg,
.emailimg {
  width: 1.5rem;
  height: 1.5rem;
}
.emailimg {
  min-width: 1.5rem;
}
.whatsapp {
  display: flex;
  align-items: center;
}
.contact {
  width: 38rem;
  height: 13rem;
  margin: auto;
  border-radius: 0.7rem;
  padding-top: 2rem;
  text-align: center;
  background: salmon;
  text-align: center;
}
.whatsapp h3 {
  color: black;
}
.contact1,
.contact2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact {
  background: wheat;
  padding-bottom: 3rem;
}
.phone {
  margin-left: 9.3rem;
}
.ighandle {
  margin-left: 3.5rem;
}
.contact1 {
  margin-bottom: 5rem;
}
.ig {
  color: red;
  color: black;
}
/* javascript */
.hmaburgermenu {
  position: absolute;
  left: 0%;
  width: 100%;
  transition: 1s;
}
.none {
  display: none;
}
.fixed {
  position: relative;
  top: 0%;
  background-color: salmon;
}

img {
  width: 100%;
}
@media only screen and (max-width: 1518px) {
  .intro {
    margin-left: 3%;
  }
}
@media only screen and (max-width: 1348px) {
  .intro {
    margin-left: 3%;
    margin-top: 12%;
  }
  .intro h1 {
    font-size: 3.7rem;
  }
}
@media only screen and (max-width: 1149px) {
  li {
    margin: 0px 2.4rem;
  }
}
@media only screen and (max-width: 1013px) {
  li a {
    color: black;
    font-family: monospace;
  }
  .menu {
    display: block;
    margin-right: 1rem;
  }
  ul {
    position: absolute;
    transition: 1s;
    top: 3.3rem;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background-color: wheat;
    left: -100%;
  }
  li {
    margin: 3rem;
  }
  li:hover {
    text-shadow: 0px 2px 6px white;
  }
}
@media only screen and (max-width: 878px) {
  .intro h1 {
    font-size: 3.2rem;
  }

  .intro h3 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 698px) {
  .contact {
    width: 90%;
    border-radius: 0.2rem;
  }
  .general,
  .html {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 637px) {
  .intro h1 {
    font-size: 2.7rem;
  }
  .intro h3 {
    font-size: 1.5rem;
  }
  .ecom1-container,
  .construction1-container {
    width: 100%;
    height: fit-content;
  }

  #projects {
    padding: 0.4rem;
  }
  .cvbtn,
  .btn {
    padding: 0.62rem 1.1rem;
  }
  .cvbtn {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 525px) {
  .projectinfo h3 {
    line-height: 1.23rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 483px) {
  .phone {
    margin-left: 12%;
  }
  .ighandle {
    margin-left: 2.5rem;
  }
  .pj {
    margin: 1.2rem;
  }
}
@media only screen and (max-width: 463px) {
  .intro h1 {
    font-size: 2.3rem;
  }
  .intro h3 {
    font-size: 1.22rem;
  }
  #home {
    height: 33rem;
  }
  .navigation h1 {
    font-size: 1.6rem;
  }
  .menu {
    height: 1.7rem;
  }
  .projectinfo h3 {
    padding: 0.4rem;
    font-size: 1.1rem;
  }
  .hmaburgermenu {
    top: 4.12rem;
  }
  .intro {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 452px) {
  .ighandle {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 441px) {
  .generalpj {
    height: 15rem;
  }
}
@media only screen and (max-width: 436px) {
  .phone {
    margin-left: 0rem;
  }
  .ighandle {
    margin-left: 0rem;
  }
  .whatsapp {
    text-align: center;
    margin: 7% 20%;
  }
  .contact1,
  .contact2 {
    display: block;
    text-align: center;
    margin: auto;
  }
  .contact {
    padding: 1.3rem 0rem;
    height: fit-content;
  }
}
@media only screen and (max-width: 394px) {
  .navigation h1 {
    margin-left: 0rem;
  }
  .menu {
    margin-right: 0.1rem;
  }
  .intro {
    margin-top: 18%;
  }
}
@media only screen and (max-width: 370px) {
  .pj h4 {
    padding: 0rem 0.4rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 358px) {
  .intro h1 {
    font-size: 1.9rem;
  }
  .intro h3 {
    font-size: 1.1rem;
  }
  .skillcontainer h1,
  #projects h1,
  #contact h1 {
    font-size: 1.43rem;
  }
}
@media only screen and (max-width: 346px) {
  .whatsapp {
    text-align: center;
    margin: 7% 8%;
  }
}
@media only screen and (max-width: 322px) {
  .whatsapp {
    text-align: center;
    margin: 7% 11%;
  }
}
